{% extends 'base.html.twig' %}

{% block title %}Types des Tableaux{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats1">
            <div class="card-header card-header-warning card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">local_shipping</i>
                </div>

                <h3 class="card-title">

                               <a href="{{ path('showTab',{'type':typeTab[0].type}) }}" class="tab">{{ typeTab[0].type }} </a>

                </h3>

            </div>
            <!--<div class="card-footer">
                <div class="stats">
                    <i class="material-icons">date_range</i>
                </div>
            </div>-->
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats2">
            <div class="card-header card-header-success card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">shopping_cart</i>
                </div>

                <h3 class="card-title"> <a href="{{ path('showTab',{'type':typeTab[1].type}) }}" class="tab">{{ typeTab[1].type }} </a></h3>
            </div>

        </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats3">
            <div class="card-header card-header-info card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">store</i>
                </div>

                <h3 class="card-title"> <a href="{{ path('showTab',{'type':typeTab[2].type}) }}" class="tab">{{ typeTab[2].type }} </a></h3>
            </div>

        </div>
    </div>




    {# <a href="{{ path('tableau_new') }}">Create new</a> #}
    </div>
</div>
{% endblock %}
