{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block content1 %}
<div class="profile-page">


    <div class="page-header header-filter" data-parallax="true" style="background-image:url('{{ asset('templates/images/sign5.jpg')}}'); "></div>

    <div class="main main-raised">
        <div class="profile-content">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 ml-auto mr-auto">
                        <div class="profile">
                            <div class="avatar">
                                <img src="{{ user.image }}" alt="Circle Image" class="img-raised rounded-circle img-fluid">
                            </div>

                            <div class="name">
                                <h3 class="title">Editer</h3>

                                {{ form_start(form) }}
                                {{ form_row(form.login,{'label':'Login : '}) }}
                                {{ form_row(form.password,{'label':'Password : '}) }}
                                {{ form_row(form.nom,{'label':'Nom : '}) }}
                                {{ form_row(form.presnom,{'label':'Prénom : '}) }}
                                {{ form_row(form.email,{'label':'Email : '}) }}

                                <div>
                                    <input type="file"
                                           id="avatar" name="avatar"
                                           accept="image/png, image/jpeg, image/jpg">
                                </div>
                                <div class="form-group">
                                    <select name="poste">
                                        {% for p in postes %}
                                            <option value="{{ p.id }}">{{ p.nom }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                                <button type="submit" class="btnnn">Save</button>

                            {{ form_end(form) }}


                                {#<a href="#pablo" class="btn btn-just-icon btn-link btn-dribbble"><i class="fa fa-dribbble"></i></a>
                                <a href="#pablo" class="btn btn-just-icon btn-link btn-twitter"><i class="fa fa-twitter"></i></a>
                                <a href="#pablo" class="btn btn-just-icon btn-link btn-pinterest"><i class="fa fa-pinterest"></i></a>#}


                            </div>
                        </div>
                    </div>
                </div>
            <a class="demo-google-material-icon" href="{{ path('user_index') }}">
                <i style="cursor: pointer;" class="material-icons"> keyboard_backspace</i>
            </a>

            {{ include('user/_delete_form.html.twig') }}


                </div>


            </div>
        </div>


        <script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script>


{% endblock %}
{% block javascripts %}


 {% endblock %}

